<mat-card class="example-card">
  <mat-card-content> 



<a routerLink = "/books">books</a>-
<a routerLink = "/register">register</a>-

<a *ngIf="!(authService.user | async)" routerLink = "/login">login</a>-  


<button *ngIf="authService.user | async" (click) = "toLogout()"> 
    logout
   </button>-  


</mat-card-content>
</mat-card>
